@model Customer

@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">FluentValidation</h1>
    <p>Exemplo de validação de formulário com a biblioteca FluentValidation</p> 
</div>

@if (ViewData["showMessage"].Equals(true))
{
    <div class="alert alert-success">     
        Formulário Enviado
    </div>
}

<form method="post" asp-action="Index" novalidate>    
    <div class="p-4 card">
        <div class="row g-3">
            <div class="col-md-6">
                <label asp-for="FirstName" class="form-label">Nome</label>
                <input asp-for="FirstName" type="text" class="form-control" placeholder="Nome" />
                <span asp-validation-for="FirstName" class="text-danger form-text"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="LastName" class="form-label">Sobrenome</label>
                <input asp-for="LastName" type="text" class="form-control" placeholder="Sobrenome" />
                <span asp-validation-for="LastName" class="text-danger form-text"></span>
            </div>
            <div class="col-md-8">
                <label asp-for="Email" class="form-label">Email</label>
                <input asp-for="Email" type="email" class="form-control" placeholder="Email" /> 
                <span asp-validation-for="Email" class="text-danger form-text"></span>
            </div>
            <div class="col-md-4">
                <label asp-for="Age" class="form-label">Idade</label>
                <input asp-for="Age" type="number" class="form-control" placeholder="Idade" />
                <span asp-validation-for="Age" class="text-danger form-text"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="Address.AddressName" class="form-label">Endereço</label>
                <input asp-for="Address.AddressName" type="text" class="form-control" placeholder="Endereço" />
                <span asp-validation-for="Address.AddressName" class="text-danger form-text"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="Address.Region" class="form-label">Bairro</label>
                <input asp-for="Address.Region" type="text" class="form-control" placeholder="Bairro" />
                <span asp-validation-for="Address.Region" class="text-danger form-text"></span>
            </div>
            <div class="col-md-4">
                <label asp-for="Address.City" class="form-label">Cidade</label>
                <input asp-for="Address.City" type="text" class="form-control" placeholder="Cidade" />
                <span asp-validation-for="Address.City" class="text-danger form-text"></span>
            </div>
            <div class="col-md-4">
                <label asp-for="Address.State" class="form-label">Estado</label>
                <input asp-for="Address.State" type="text" class="form-control" placeholder="Estado" />
                <span asp-validation-for="Address.State" class="text-danger form-text"></span>
            </div>
            <div class="col-md-4">
                <label asp-for="Address.ZipCode" class="form-label">CEP</label>
                <input asp-for="Address.ZipCode" type="text" class="form-control" placeholder="CEP" />
                <span asp-validation-for="Address.ZipCode" class="text-danger form-text"></span>
            </div>
            <input type="submit" value="Enviar" class="btn btn-success mt-4 mx-auto w-25" />    
        </div>
    </div>  
</form>


